In [ ]:
# https://data.open-power-system-data.org/time_series/2020-10-06

In [ ]:
'''
This data package contains different kinds of timeseries data relevant for power system modelling, 
namely electricity prices, electricity consumption (load) as well as wind and solar power generation 
and capacities. The data is aggregated either by country, control area or bidding zone. Geographical 
coverage includes the EU and some neighbouring countries. All variables are provided in hourly 
resolution. Where original data is available in higher resolution (half-hourly or quarter-hourly), 
it is provided in separate files. This package version only contains data provided by TSOs and power 
exchanges via ENTSO-E Transparency, covering the period 2015-mid 2020. See previous versions for 
historical data from a broader range of sources. All data processing is conducted in Python/pandas 
and has been documented in the Jupyter notebooks linked below.
'''

In [27]:
opsd_url = 'https://data.open-power-system-data.org/time_series/2020-10-06/time_series_60min_singleindex.csv'

In [28]:
import opendatasets as od

od.download(opsd_url)

Downloading https://data.open-power-system-data.org/time_series/2020-10-06/time_series_60min_singleindex.csv to ./time_series_60min_singleindex.csv

130342912it [01:02, 2075182.09it/s]

In [6]:
# import zipfile

# path_to_zip_file = 'opsd-time_series-2020-10-06.zip'
# directory_to_extract_to = 'opsd-time_series-2020-10-06/'

# with zipfile.ZipFile(path_to_zip_file, 'r') as zip_ref:
#     zip_ref.extractall(directory_to_extract_to)

In [7]:
import pandas as pd

In [29]:
# path_to_csv = 'opsd-time_series-2020-10-06/opsd-time_series-2020-10-06/time_series_60min_singleindex.csv'
path_to_csv = 'time_series_60min_singleindex.csv'

df = pd.read_csv(path_to_csv)
df.head()

,utc_timestamp,cet_cest_timestamp,AT_load_actual_entsoe_transparency,AT_load_forecast_entsoe_transparency,AT_price_day_ahead,AT_solar_generation_actual,AT_wind_onshore_generation_actual,BE_load_actual_entsoe_transparency,BE_load_forecast_entsoe_transparency,BE_solar_generation_actual,...,SI_load_actual_entsoe_transparency,SI_load_forecast_entsoe_transparency,SI_solar_generation_actual,SI_wind_onshore_generation_actual,SK_load_actual_entsoe_transparency,SK_load_forecast_entsoe_transparency,SK_solar_generation_actual,SK_wind_onshore_generation_actual,UA_load_actual_entsoe_transparency,UA_load_forecast_entsoe_transparency
0,2014-12-31T23:00:00Z,2015-01-01T00:00:00+0100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2015-01-01T00:00:00Z,2015-01-01T01:00:00+0100,5946.0,6701.0,35.0,NaN,69.0,9484.0,9897.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2015-01-01T01:00:00Z,2015-01-01T02:00:00+0100,5726.0,6593.0,45.0,NaN,64.0,9152.0,9521.0,NaN,...,1045.47,816.0,NaN,1.17,2728.0,2860.0,3.8,NaN,NaN,NaN
3,2015-01-01T02:00:00Z,2015-01-01T03:00:00+0100,5347.0,6482.0,41.0,NaN,65.0,8799.0,9135.0,NaN,...,1004.79,805.0,NaN,1.04,2626.0,2810.0,3.8,NaN,NaN,NaN
4,2015-01-01T03:00:00Z,2015-01-01T04:00:00+0100,5249.0,6454.0,38.0,NaN,64.0,8567.0,8909.0,NaN,...,983.79,803.0,NaN,1.61,2618.0,2780.0,3.8,NaN,NaN,NaN

In [30]:
import re

german_columns = [col for col in list(ger_df) 
                  if re.search('DE_', col) 
                  and not re.search('DE_LU_', col)
                  and not re.search('_amprion_', col)
                  and not re.search('_tennet_', col)
                  and not re.search('_transnetbw_', col)
                  and not re.search('_50hertz_', col)
                 ]
german_columns

['DE_load_actual_entsoe_transparency',
 'DE_load_forecast_entsoe_transparency',
 'DE_solar_capacity',
 'DE_solar_generation_actual',
 'DE_solar_profile',
 'DE_wind_capacity',
 'DE_wind_generation_actual',
 'DE_wind_profile',
 'DE_wind_offshore_capacity',
 'DE_wind_offshore_generation_actual',
 'DE_wind_offshore_profile',
 'DE_wind_onshore_capacity',
 'DE_wind_onshore_generation_actual',
 'DE_wind_onshore_profile']

In [ ]:
'''
* DE_load_actual_entsoe_transparency
    - Description: Total load in Germany in MW as published on ENTSO-E Transparency Platform
* DE_load_forecast_entsoe_transparency
    - Description: Day-ahead load forecast in Germany in MW as published on ENTSO-E Transparency Platform
    
* DE_solar_capacity
    - Description: Electrical capacity of solar in Germany in MW
* DE_solar_generation_actual
    - Description: Actual solar generation in Germany in MW
* DE_solar_profile
    - Description: Share of solar capacity producing in Germany

* DE_wind_capacity
    - Description: Electrical capacity of wind in Germany in MW
* DE_wind_generation_actual
    - Description: Actual wind generation in Germany in MW
* DE_wind_profile
    - Description: Share of wind capacity producing in Germany
* DE_wind_offshore_capacity
    - Description: Electrical capacity of wind_offshore in Germany in MW
* DE_wind_offshore_generation_actual
    - Description: Actual wind_offshore generation in Germany in MW
* DE_wind_offshore_profile
    - Description: Share of wind_offshore capacity producing in Germany
* DE_wind_onshore_capacity
    - Description: Electrical capacity of wind_onshore in Germany in MW
* DE_wind_onshore_generation_actual
    - Description: Actual wind_onshore generation in Germany in MW
* DE_wind_onshore_profile
    - Description: Share of wind_onshore capacity producing in Germany
'''

In [31]:
ger_df = df[['cet_cest_timestamp'] + german_columns]
ger_df.head()

,cet_cest_timestamp,DE_load_actual_entsoe_transparency,DE_load_forecast_entsoe_transparency,DE_solar_capacity,DE_solar_generation_actual,DE_solar_profile,DE_wind_capacity,DE_wind_generation_actual,DE_wind_profile,DE_wind_offshore_capacity,DE_wind_offshore_generation_actual,DE_wind_offshore_profile,DE_wind_onshore_capacity,DE_wind_onshore_generation_actual,DE_wind_onshore_profile
0,2015-01-01T00:00:00+0100,NaN,NaN,37248.0,NaN,NaN,27913.0,NaN,NaN,667.0,NaN,NaN,27246.0,NaN,NaN
1,2015-01-01T01:00:00+0100,41151.0,39723.0,37248.0,NaN,NaN,27913.0,8852.0,0.3171,667.0,517.0,0.7744,27246.0,8336.0,0.3059
2,2015-01-01T02:00:00+0100,40135.0,38813.0,37248.0,NaN,NaN,27913.0,9054.0,0.3244,667.0,514.0,0.7710,27246.0,8540.0,0.3134
3,2015-01-01T03:00:00+0100,39106.0,38490.0,37248.0,NaN,NaN,27913.0,9070.0,0.3249,667.0,518.0,0.7761,27246.0,8552.0,0.3139
4,2015-01-01T04:00:00+0100,38765.0,38644.0,37248.0,NaN,NaN,27913.0,9163.0,0.3283,667.0,520.0,0.7793,27246.0,8643.0,0.3172

In [32]:
ger_df.shape

(50401, 15)

In [33]:
# saving the dataset for Germany

ger_df.to_csv('germany_wind_and_solar.csv', sep='\t', encoding='utf-8', index=False)

In [34]:
# removing the bif dataset

import os

os.remove(path_to_csv)

In [ ]:
'''
https://www.frontiersin.org/articles/10.3389/fenrg.2020.00016/full

(about solar-wind and load)
'''