In [1]:
import opendatasets as od

od.download("https://www.kaggle.com/datasets/aymanlafaz/wind-energy-germany")

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username: alexandertropin
Your Kaggle Key: ········
Downloading wind-energy-germany.zip to ./wind-energy-germany

100%|███████████████████████████████████████| 14.9k/14.9k [00:00<00:00, 720kB/s]

In [ ]:
'''
utc_timestamp : Time in UTC
wind_generation : Daily wind production in MW
wind_capacity : Electrical capacity of wind in MW
temperature : Daily Temperature in degrees C

'''

In [2]:
import pandas as pd

In [9]:
wind_df = pd.read_csv('wind-energy-germany/germany-wind-energy.csv')
wind_df.head()

,utc_timestamp,wind_generation_actual,wind_capacity,temperature
0,2017-01-01 00:00:00+00:00,291760.0,37149.130,-2.117
1,2017-01-02 00:00:00+00:00,295097.0,37152.125,-1.154
2,2017-01-03 00:00:00+00:00,666170.0,37155.208,-0.239
3,2017-01-04 00:00:00+00:00,686581.0,37160.125,0.620
4,2017-01-05 00:00:00+00:00,261759.0,37163.542,-3.908

In [4]:
wind_df.shape

(1094, 4)

In [10]:
wind_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1094 entries, 0 to 1093
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   utc_timestamp           1094 non-null   object
 1   wind_generation_actual  1094 non-null   float64
 2   wind_capacity           1094 non-null   float64
 3   temperature             1094 non-null   float64
dtypes: float64(3), object(1)
memory usage: 34.3+ KB

In [11]:
wind_df.utc_timestamp = pd.to_datetime(wind_df.utc_timestamp)
wind_df.head()

,utc_timestamp,wind_generation_actual,wind_capacity,temperature
0,2017-01-01 00:00:00+00:00,291760.0,37149.130,-2.117
1,2017-01-02 00:00:00+00:00,295097.0,37152.125,-1.154
2,2017-01-03 00:00:00+00:00,666170.0,37155.208,-0.239
3,2017-01-04 00:00:00+00:00,686581.0,37160.125,0.620
4,2017-01-05 00:00:00+00:00,261759.0,37163.542,-3.908

In [12]:
wind_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1094 entries, 0 to 1093
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   utc_timestamp           1094 non-null   datetime64[ns, UTC]
 1   wind_generation_actual  1094 non-null   float64
 2   wind_capacity           1094 non-null   float64
 3   temperature             1094 non-null   float64
dtypes: datetime64[ns, UTC](1), float64(3)
memory usage: 34.3 KB

In [18]:
wind_df['date'] = pd.to_datetime(wind_df['utc_timestamp']).dt.date
wind_df = wind_df.drop(['utc_timestamp'], axis=1)
wind_df.head()

   wind_generation_actual  wind_capacity  temperature        date
0                291760.0      37149.130       -2.117  2017-01-01
1                295097.0      37152.125       -1.154  2017-01-02
2                666170.0      37155.208       -0.239  2017-01-03
3                686581.0      37160.125        0.620  2017-01-04
4                261759.0      37163.542       -3.908  2017-01-05

In [19]:
wind_df.set_index('date')

            wind_generation_actual  wind_capacity  temperature
date
2017-01-01                291760.0      37149.130       -2.117
2017-01-02                295097.0      37152.125       -1.154
2017-01-03                666170.0      37155.208       -0.239
2017-01-04                686581.0      37160.125        0.620
2017-01-05                261759.0      37163.542       -3.908
...                            ...            ...          ...
2019-12-26                132739.0      50424.125        2.790
2019-12-27                146590.0      50427.000        1.327
2019-12-28                159126.0      50427.292       -1.441
2019-12-29                349839.0      50434.750       -1.314
2019-12-30                639343.0      50452.000        0.542

[1094 rows x 3 columns]

In [5]:
# wind_df.index = pd.to_datetime(wind_df.index)